@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
}

#__next {
  overflow-x: hidden;
}

.manrope {
  font-family: 'Manrope', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.narrow-div {
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 1279px) {
  .narrow-div {
    width: 90%;
  }
}
@media (max-width: 1023px) {
  .narrow-div {
    width: 95%;
  }
}
@media (max-width: 767px) {
  .narrow-div {
    width: 98%;
  }
}

.title {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 600;
}
@media (max-width: 639px) {
  .title {
    font-size: 1.5rem;
  }
}

.par {
  color: #a8a8a8;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.slick-track {
  display: flex !important;
  gap: 10px !important;
  padding: 15px 0 !important;
}
